<h3>Welcome to Elearn</h3>
<p>
eLearn is a simple and free online learning platform.
</p>
<a class="button" href="/users/signup">Sign Up Free</a>
<p>You need to sign up to register for free classes</p>
